<!DOCTYPE html>
{%extends "search_app/base.html"%}
{% block body_block %}
  <h1 class="display-1 text-center">Enter The Topic, Get The Tweets</h1>
  <div class="container">
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <div class="text-center">
          <input type="submit" class="btn btn-dark btn-lg" value="Search">
      </div>
    </form>
    <br>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{quote}}</p>
            <footer class="blockquote-footer text-white">{{source}}</footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{quote2}}</p>
            <footer class="blockquote-footer text-white">{{source2}}</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}
