<!DOCTYPE html>
{%extends "search_app/base.html"%}
{% block body_block %}
  <h1 class="display-1 text-center">Enter The Topic, Get The Tweets</h1>
  <div class="container">
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <div class="text-center">
          <input type="submit" class="btn btn-dark btn-lg" value="Search">
      </div>
    </form>
    <br>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>"Dance like the photo's not being tagged, Love like you've never been unfriended, Tweet like nobody's following."</p>
            <footer class="blockquote-footer text-white">@PostSecret</footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>"I tweet, therefore my entire life has shrunk to 140 character chunks of instant event & predigested gnomic wisdom. & swearing."</p>
            <footer class="blockquote-footer text-white">@NeilGaiman</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}
