<!DOCTYPE html>
{%extends "search_app/base.html"%}
{% block body_block %}
  <h1 class="display-1 text-center">Enter The Topic, Get The Tweets</h1>
  <div class="container">
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <div class="text-center">
          <input type="submit" class="btn btn-dark btn-lg" value="Search">
      </div>

    </form>

    <blockquote class="blockquote text-center">
      <p class="mb-0">"Dance like the photo's not being tagged, Love like you've never been unfriended, Tweet like nobody's following."</p>
      <footer class="blockquote-footer">@PostSecret</footer>
    </blockquote>
  </div>

{% endblock %}
