<!DOCTYPE html>
{% extends "search_app/base.html" %}

{% block body_block %}
<h1 class="display-2 text-center">Here Are The Tweets</h1>
<div class="container">
  {% for tweet, sentiment in result %}
      <div class="card">
        <div class="card-body">
          <p class="lead">{{tweet.full_text}}</p>
        </div>
        <div class="card-footer text-muted">
          {% if sentiment > 0 %}
            Positive
          {% elif sentiment < 0 %}
            Negative
          {% else %}
            Neutral
          {% endif %}      
        </div>
      </div>
      <br>
  {% endfor %}
</div>
{% endblock %}
